multi-job>=1.0.0
templ8>=1.0.0
black>=19.10b0
wheel>=0.34.2
{% if package %}
purge>=1.0.0
{% endif %}
{% if webapp %}
docker-droplet>=1.0.0
{% endif %}
{% if install_requires %}
{% for requirement in install_requires %}
{{requirement}}
{% endfor %}
{% endif %}
{% if extra_requirements %}
{% for requirement in extra_requirements %}
{{requirement}}
{% endfor %}
{% endif %}
